*{
    margin: 0;
    padding: 0;
}

body{
    background: url("/arquivos/disneyplus-background.jpg") no-repeat top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;;
    font-weight: bold;
}

.btn{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 90px;
    transition: 0.2s ease;
}

.btn:hover{
    background: white;
    color: black;
    transition: 0.5s;
}

img.marcas{
    max-width: 600px;
    position: absolute;
    bottom: 80px;
}

img.logo{
    max-width: 180px;
    margin-top: -90px;
}

.hero-content{
    margin-top: 5px;
    padding-left: 75px;
}

.hero-content p{
    font-size: 12px;
    line-height: 17px;
    color: rgb(226, 226, 226);
}

h1{
    font-size: 42px;
    line-height: 52px;
    color: white;
    margin: 20px 0 30px 0;    
}

.valores{
    display: flex;
}

.valor span{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: white;
}

.valor{
    width: 300px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.5);
}

.valor:first-child{
    display: grid;
}

.valor:first-child a{
    align-self: end;
}

.valor a{
    padding: 16px 14px;
    background: rgb(35, 35, 236);
    display: block;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.valor a:hover{
    background: royalblue;
}

.valor p:first-child{
    margin: 0;
}

.valor p{
    margin: 16px 0;
}

.valor + .valor{
    margin-left: 30px;
}
